{% extends "base.html" %}
{% block content %}
<nav class="fixed z-50 top-0 px-8 py-2 left-0 right-0 bg-skin-primary"> 
    <div class="bg-skin-primary flex justify-center w-full py-3">
        <div class="flex rounded-2xl justify-center items-center shadow overflow-hidden  p-2 gap-x-3">
            <a href="#" id="watch-link" title="Watch tutorial" class="active-link">
        <div class="flex items-center gap-x-2 ">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m380-300 280-180-280-180v360ZM160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm0-80h640v-480H160v480Zm0 0v-480 480Z"/></svg>
               <span id="watch-label">Watch</span>
            
        </div>
      </a>
            <a title="ask something AI" id="ask-link" href="#" class="link">
        <div class="flex items-center gap-x-2 whitespace-nowrap">
          
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M320-240 80-480l240-240 57 57-184 184 183 183-56 56Zm320 0-57-57 184-184-183-183 56-56 240 240-240 240Z"/></svg>    
          <span id="code-label">See code</span>
            
        </div>
      </a>
      <a title="Extract code" id="capture-link" href="#" class="link">
        <div class="flex items-center gap-x-2 whitespace-nowrap">
          
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M200-680v-120q0-33 23.5-56.5T280-880h120v80H280v120h-80Zm80 600q-33 0-56.5-23.5T200-160v-120h80v120h120v80H280Zm400-600v-120H560v-80h120q33 0 56.5 23.5T760-800v120h-80ZM560-80v-80h120v-120h80v120q0 33-23.5 56.5T680-80H560Z"/></svg>
          <span id="capture-label">Take capture</span>
            
        </div>
      </a>
      <a title="Extract code" id="extract-link" href="#" class="link hidden">
        <div class="flex items-center gap-x-2 whitespace-nowrap">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M480-120q-75 0-140.5-28.5t-114-77q-48.5-48.5-77-114T120-480q0-75 28.5-140.5t77-114q48.5-48.5 114-77T480-840v80q-117 0-198.5 81.5T200-480q0 117 81.5 198.5T480-200v80Zm160-160-56-57 103-103H360v-80h327L584-624l56-56 200 200-200 200Z"/></svg>
            <span id="extraxt-label">Extract code</span>
            
        </div>
      </a>
          </div>
        </div>
</nav>
<main id="main-content" class="flex flex-1 flex-col  items-center h-full mt-28 mb-36">
<section id="video-panel" class="flex max-sm:w-full md:w-8/12 justify-center items-center">
    <div class="w-full flex-col justify-center items-center">
        <div style="position:relative" class ="shadow-2xl rounded-md " >
            <video id="tuto" src="/videos/gK288ZfzjCc" type="video/mp4" class="w-full object-cover" poster="{{ poster_url }}"
            width="auto" height="auto" controls>
            Your browser does not support HTML5 video playback.
          </video>
        <canvas id="canvas" 
                style="display:none; position:absolute;left: 0px;top: 0px;width: 100%;height: 100%;">
       </canvas>
        </div>
        <img class="hidden border-2 border-green-800" id="capturedImage" src="" alt="Captured Image">
        </div>
</section>
<section id="discussion-panel" class="hidden flex-1 w-full md:w-8/12 xl:w-6/12  flex-col justify-end gap-2 items-center">
    <section class="fixed hidden z-50 bottom-0 px-8 py-2 left-0 right-0 bg-skin-primary">
        <div class="w-full flex justify-center items-center py-2">
            <div id="typing-indicator" class="flex">
                <span class="text-lg  font-semibold">The chabot is thinking</span>
                <div class="dot bg-purple-500"></div>
                <div class="dot bg-purple-500"></div>
                <div class="dot bg-purple-500"></div>
              </div>
        </div>
        <form method="post" class="w-full"> 
            <textarea id="ask-input" name="q" placeholder="Ask AI something" spellcheck="false"
                class="w-full border outline-none border-skin-primary focus:border-purple-500 focus:ring-2 focus:ring-purple-500 bg-white rounded-[32px] text-black py-[18px] pl-6 text-base md:text-lg h-16 max-h-96 placeholder:text-skin-tertiary resize-none  shadow disabled:bg-skin-input-disabled disabled:text-skin-disabled disabled:cursor-not-allowed search-value"
                ></textarea>
        </form>
    </section>
    <div
        class="w-full p-4 flex flex-row gap-1 shrink-0 bg-skin-secondary rounded-3xl border border-skin-primary">
        <span class="">
            <svg xmlns="http://www.w3.org/2000/svg" height="41px" viewBox="0 -960 960 960" width="41px" fill="#5f6368"><path d="M200-120q-33 0-56.5-23.5T120-200v-400q0-100 70-170t170-70h240q100 0 170 70t70 170v400q0 33-23.5 56.5T760-120H200Zm0-80h560v-400q0-66-47-113t-113-47H360q-66 0-113 47t-47 113v400Zm160-280q-33 0-56.5-23.5T280-560q0-33 23.5-56.5T360-640q33 0 56.5 23.5T440-560q0 33-23.5 56.5T360-480Zm240 0q-33 0-56.5-23.5T520-560q0-33 23.5-56.5T600-640q33 0 56.5 23.5T680-560q0 33-23.5 56.5T600-480ZM280-200v-80q0-33 23.5-56.5T360-360h240q33 0 56.5 23.5T680-280v80h-80v-80h-80v80h-80v-80h-80v80h-80Zm-80 0h560-560Z"/></svg>
        </span>
        <span class="flex flex-col">
            <p>Pour aligner les éléments de la section en bas, vous pouvez utiliser les classes de Tailwind CSS pour aligner verticalement les éléments. Voici comment vous pourriez modifier votre code :</p>
        </span>
    </div>
    <div
    class="w-full p-4 flex gap-1 shrink-0 bg-skin-secondary rounded-3xl border border-skin-primary">
    <span class="">
        <svg xmlns="http://www.w3.org/2000/svg" height="41px" viewBox="0 -960 960 960" width="41px"  class="icon-md" role="img" fill="#000000"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"/></svg>
    </span>
    <div class="flex flex-col">
            <p>extrait pour moi ce code</p>
            <p>
                <img src="/static/captures/image1.png" class="object-contain rounded-2xl">
            </p>
    </div>
</div>
</section>
</main>
<script type="module" src="/static/js/ask.js"></script>
{% endblock %}